*.pyc
*.pyo
*.pyd
.venv/
.mypy_cache/
.ruff_cache
__pycache__/
/node_modules
bazel-*
/bazel-bin
/bazel-out
/bazel-testlogs
/bazel-genfiles
*.runfiles/
**/runfiles/
.runfiles/
.coverage
coverage_html
coverage.xml
